<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Title</title>


    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/python.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/ocean.min.css"/>
    <script>hljs.initHighlightingOnLoad();</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="post">

    <a href="/" style="margin: 1%; color:black"><-- Return</a>

    <div class="container" style="margin: 0; width: 20%">
        <h1>Scripts Table</h1>
        <table class="table">
            <tr>
                <th><h4>Title</h4></th>
                <th><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></th>
            </tr>
            <tr>
                <th><h4>Author</h4></th>
                <th>{{ post.author }}</th>
            </tr>
            <tr>
                <th><h4>Publication date</h4></th>
                <th>{{ post.published_date }}</th>
            </tr>
            <tr>
                <th><h4>Active status</h4></th>
                <th>{{ status }}</th>
            </tr>
            <tr>
                <th><h4>Type</h4></th>
                <th>{{ post.type }}</th>
            </tr>
            <tr>
                <th>
                    <form action="/start/" method="post">
                    {% csrf_token %}
                         <input type="hidden" name="post_id" value="{{ post.pk }}">
                        {% if status == True and post.type == "SINGLE" %}
                         <button disabled style="color: yellow">Start script</button>
                        {% else %}
                         <button>Start script</button>
                        {% endif %}
                    </form>
                </th>
            </tr>
            <tr>
                <th>
                    <form action="/stop/" method="post">
                    {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post.pk }}">
                        <button>Stop script</button>
                     </form>
                </th>
            </tr>
            <tr>
                <th>
                    <form action="/delete/" method="post">
                    {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post.pk }}">
                        <button>Delete script</button>
                    </form>
                </th>
            </tr>
            <tr>
                <th>
                    <form action="/update/">
                        <input type="hidden" name="post_id" value="{{ post.pk }}">
                        <button>Update script</button>
                    </form>
                </th>
            </tr>
            <tr>
                <th>
                    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Show code</button>
                </th>
            </tr>
        </table>
    </div>
    <br>

    {% for log in script_logs %}
        <a href="/media/logs/{{ post.author }}/{{ log }}">{{ log }}</a><br>
    {% endfor %}
</div>


<div id="id01" class="modal" style="overflow: scroll">
    <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
              title="Close Modal">&times;</span>
    </div>

    <div class="container">
        <pre><code class="python">{{ script_text }}</code></pre>
    </div>
</div>
<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

</body>
</html>