{% load staticfiles %}
<html>
<head>
    <title>All scripts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main_window.css' %}">
</head>
<body>
<div class="page-header">
    {% if username %}
    <a href="{% url 'model_form_upload' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
    <h1><a href="/">Django Monitor Service</a></h1>
    <h3 style="color: #f44336">{{ login_error }}</h3>
    <ui>
        {% if username %}
        <li><a href="/auth/logout/">"Logout ({{ username }})"</a></li>
        {% else %}
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
    <div id="id01" class="modal">
    <form class="modal-content animate" action="/auth/login/" method="post">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>

        <div class="container">
            {% csrf_token %}
            <label><b>Username</b></label>
            {% if login_error %}
                <label class="error">{{ login_error }}</label>
            {% endif %}
            <input type="text" placeholder="Enter Username" name="username" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
        </div>
    </form>
</div>
        {% endif %}
    </ui>
</div>


<div>

    <div class="container">
        <h2>Monitor load on the server</h2>
        <div class="progress">
            <div id="cpu"></div>
        </div>
        <div class="progress">
            <div id="memory"></div>
        </div>
        <div class="progress">
            <div id="disk"></div>
        </div>
    </div>

    <script>
        function show_cpu() {
            $.ajax({
                url: "/cpu/",
                cache: false,
                success: function (html) {
                    $("#cpu").html('<div class="progress-bar progress-bar-success" role="progressbar" ' +
                                        'aria-valuenow="40" aria-valuemin="0"\n' +
                                            'aria-valuemax="100" style="width: '+html+'%">CPU('+html+')</div>')
                }
            });
        }
        function show_memory() {
            $.ajax({
                url: "/memory/",
                cache: false,
                success: function (html) {
                    $("#memory").html('<div class="progress-bar progress-bar-info" role="progressbar" ' +
                                        'aria-valuenow="40" aria-valuemin="0"\n' +
                                            'aria-valuemax="100" style="width: '+html+'%">memory('+html+')</div>')
                }
            });
        }

        function show_disk() {
            $.ajax({
                url: "/disk/",
                cache: false,
                success: function (html) {
                    $("#disk").html('<div class="progress-bar progress-bar-warning" role="progressbar" ' +
                                        'aria-valuenow="40" aria-valuemin="0"\n' +
                                            'aria-valuemax="100" style="width: '+html+'%">disk('+html+')</div>')
                }
            });
        }


        $(document).ready(function () {
            show_cpu()
            show_memory()
            show_disk()
            setInterval('show_cpu()', 500);
            setInterval('show_memory()', 10000);
            setInterval('show_disk()', 10000);
        });
    </script>


    <script>


    </script>

</div>


{% if posts %}
    <div class="container">
        <h1>Scripts Table</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publish date</th>
                <th>Description</th>
                <th>Script File</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <th><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></th>
                    <th>{{ post.author }}</th>
                    <th>{{ post.published_date }}</th>
                    <th>{{ post.text|linebreaksbr }}</th>
                    <th><a href="/media/{{ post.script }}">{{ post.script }}</a></th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}




<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

</body>
</html>