<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Information</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">

</script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/python.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/ocean.min.css"/>
    <script>hljs.initHighlightingOnLoad();</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<div class="post">

<div class="row" style="margin: 0">
    <div class="col-sm-6">
    <a href="/" class="glyphicon glyphicon-home" style="font-size: 200%; margin: 2%"></a>
    </div>
    <div class="col-sm-6">
    <form action="/delete/" method="post" style="margin-left: 95%; margin-top: 1%">
        {% csrf_token %}
        <input type="hidden" name="post_id" value="{{ post.pk }}">
        <button class="glyphicon glyphicon-remove" onclick="return confirmDelete();"></button>
        <h6>delete</h6>
    </form>
        <script>
            function confirmDelete() {
        if (confirm("Are you sure you want to completely delete the script?")) {
            return true;
        } else {
            return false;
            }
        }
        </script>
        </div>
</div>
<div class="row">
    <div class="container" style="margin: 0; width: 20%">
        <h1>Script Info</h1>
        <table class="table">
            <tr>
                <th><h4>Title</h4></th>
                <th><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></th>
            </tr>
            <tr>
                <th><h4>Author</h4></th>
                <th>{{ post.author }}</th>
            </tr>
            <tr>
                <th><h4>Publication date</h4></th>
                <th>{{ post.published_date }}</th>
            </tr>
            <tr>
                <th><h4>Active status</h4></th>
                <th>{{ status }}</th>
            </tr>
            <tr>
                <th><h4>Type</h4></th>
                <th>{{ post.type }}</th>
            </tr>
            <tr>
                <th><h4>Count instance</h4></th>
                <th>{{ count_instance }}</th>
            </tr>
            <tr>
                <th>
                    <form action="/start/" method="post">
                    {% csrf_token %}
                         <input type="hidden" name="post_id" value="{{ post.pk }}">
                        {% if status == True and post.type == "SINGLE" %}
                         <button disabled style="background-color: red; width: 120%">Start script</button>
                        {% else %}
                         <button style="width: 120%">Start script</button>
                        {% endif %}
                    </form>
                </th>
            </tr>
            <tr>
                <th>
                    <form action="/stop/" method="post">
                    {% csrf_token %}
                         <input type="hidden" name="post_id" value="{{ post.pk }}">
                        {% if status == False and post.type == "SINGLE" %}
                         <button disabled style="background-color: red; width: 120%">Stop all instance</button>
                        {% else %}
                         <button style="width: 120%">Stop all instance</button>
                        {% endif %}
                     </form>
                </th>
            </tr>
            <tr>
                <th>
                    <form action="/update/">
                        <input type="hidden" name="post_id" value="{{ post.pk }}">
                        <button style="width: 120%">Edit script</button>
                    </form>
                </th>
            </tr>
            <tr>
                <th>
                    <button onclick="document.getElementById('id01').style.display='block'" style="width: 120%;">Show code</button>
                </th>
            </tr>
        </table>
    </div>
    <br>

    {% for log in script_logs %}
        <a href="/media/logs/{{ post.author }}/{{ log }}">{{ log }}</a><br>
    {% endfor %}
</div>
</div>

<div id="id01" class="modal" style="overflow: scroll">
    <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
              title="Close Modal">&times;</span>
    </div>

    <div class="container">
        <pre><code class="python">{{ script_text }}</code></pre>
    </div>
</div>
<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

</body>
</html>