{% load staticfiles %}
<html>
<head>
    <title>Script add</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/main_window.css' %}">

</head>
<body>
<a href="/" style="margin: 1%; color:black"><-- Return</a>

<div style="width: 30%; margin-left: 30%; margin-top: 8%">
    <h1>New script</h1>
<form method="post" class="post-form" enctype="multipart/form-data" action="/upload/">

    {% csrf_token %}
    <h3 style="color:red;">{{ name_error }}</h3>
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>

</form>
</div>
</body>
</html>