{% load staticfiles %}
<html>
<head>
    <title>Django blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/main_window.css' %}">
</head>
<body>
<div class="page-header">
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    <h1><a href="/">Django Monitor Service</a></h1>
    <ui>
        {% if username %}
        <li><a href="/auth/logout/">"Logout ({{ username }})"</a></li>
        {% else %}
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
<div id="id01" class="modal">
    <form class="modal-content animate" action="/auth/login/" method="post">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>

        <div class="container">
            {% csrf_token %}
            <label><b>Username</b></label>
            {% if login_error %}
                <label class="error">{{ login_error }}</label>
            {% endif %}
            <input type="text" placeholder="Enter Username" name="username" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
        </div>
    </form>
</div>
        {% endif %}
    </ui>
</div>


{% if posts %}
    <div class="container">
        <h1>Scripts Table</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publish date</th>
                <th>Description</th>
                <th>Script File</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <th><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></th>
                    <th>{{ post.author }}</th>
                    <th>{{ post.published_date }}</th>
                    <th>{{ post.text|linebreaksbr }}</th>
                    <th><a href="/media/{{ post.script }}">{{ post.script }}</a></th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}




<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

</body>
</html>