<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Title</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/python.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/ocean.min.css"/>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div class="post">
    {% if post.published_date %}
        <div class="date">
            {{ post.published_date }}
        </div>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>

    <form action="/start/" method="post">
        {% csrf_token %}
        <input type="hidden" name="post_id" value="{{ post.pk }}">
        <button>Start script</button>
    </form>


    <form action="/stop/" method="post">
        {% csrf_token %}
        <input type="hidden" name="post_id" value="{{ post.pk }}">
        <button>Stop script</button>
    </form>

    <button>Delete script</button>

    <pre><code class="python">{{ script_text }}</code></pre>


    {% for log in script_logs %}
        <a href="/media/logs/{{ post.author }}/{{ log }}">{{ log }}</a><br>
    {% endfor %}
</div>
</body>
</html>